#forum {background-color: silver; height: 50px; width: 350px}
#composer {background-color: white; height: 20px; width: 300px}
#buttonAlert {color: purple; background-color: gray; width: 300px; display: none}