#lowVision {background: black; color: white}
.tab {background: green; color: white }
.numpad  { background: blue; color: white }
.clear { background: red; color: white }
table, th, td { border: 1px solid }
#gestureField { background: silver; width: 600px; height: 600px }